@import url(./font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Calibri', sans-serif;
    transition: .2s;
}

html{
    overflow: hidden;
}

body{
    touch-action: none;
    background-color: beige;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Old Firefox */
    -ms-user-select: none;     /* Internet Explorer */
    user-select: none;
}

#app{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.back{
    filter: blur(5px);
}
